/* styles.module.css */

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 100px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

input[type="checkbox"],
input[type="number"],
input[type="text"] {
    padding: 10px 40px 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 300px;
    position: relative;
}

.btnDiv {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid gray;
    border-radius: 4px;
    margin: 0px 10px;
    background-color: gray;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background-color: white;
    color: gray;
    border: 2px solid gray;
}